{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rehan School | Graphic</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'rehan.png' %}" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% comment %} <link href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css" rel="stylesheet"> {% endcomment %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--js-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>



<style>
    .text-primary {
        color: #009CFF !important;
    }
</style>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{% url 'dashboard' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">Dashboard</h3>
                </a>
                
                <div class="navbar-nav w-100">
                    <a href="{% url 'dashboard' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="{% url 'users' %}" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Users</a>
                    <a href="{% url 'interviews' %}" class="nav-item nav-link"><i class="fa fa-address-card me-2"></i>Interviews</a>
                    <a href="{% url 'faceless' %}" class="nav-item nav-link"><i class="fa fa-user-secret me-2"></i>Faceless</a>
                    <a href="{% url 'posting' %}" class="nav-item nav-link"><i class="fa fa-bullhorn me-2"></i>Posting</a>
                    <a href="{% url 'graphics' %}" class="nav-item nav-link"><i class="fa fa-paint-brush me-2"></i>Graphics</a>
                    

                    {% comment %} <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Blogs</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> {% endcomment %}
                  
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="{% url 'dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'rehan.png' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">{{request.user.username}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{% url 'admin_logout' %}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-address-card  fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Graphics</p>
                                <h6 class="mb-0">{{total_graphics}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user-secret fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Student Graphics</p>
                                <h6 class="mb-0">{{student_graphics}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-bullhorn fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Staff Graphics</p>
                                <h6 class="mb-0">{{staff_graphics}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-paint-brush fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Facilitator Graphics</p>
                                <h6 class="mb-0">{{facilitator_graphics}}</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Sale & Revenue End -->


           

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h3 class="mb-0">Graphics</h3>
                    </div>
                    <div class="table-responsive">
                        
                
                        <table id="graphic" class="table text-start align-middle table-striped table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Graphic No</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Link</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inte in all_graphics %}
                                <tr>
                                    <td>{{inte.graphic_no}}</td>
                                    <td>{{inte.user}}</td>
                                    <td>{{inte.title}}</td>
                                    <td>{{inte.date}}</td>
                                    <td>
                                        <a class="btn btn-default" target="_blank" href="{{inte.url}}">
                                            <i class="bi bi-send" style="color:#009CFF !important"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <a class="btn btn-sm btn-default" href="{% url 'delete_graphics' inte.id %}"><i class="bi bi-trash-fill" style="color:#009CFF !important"></i></a>
                                    </td>                                 
                                   
                                </tr>
                                {% endfor %}
                              
                            </tbody>
                        </table>
                        
                  </div>
                </div>



               

            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; Rehan School, All Right Reserved. 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->









    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>


<script>
    $(document).ready(function() {
        $('#graphic').DataTable();
    });
</script>

</body>

</html>









 